!!! 5
html(lang="en", data-ng-app="docs")

	head
		base(href="/")
		
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")

		title #{package.name}

		meta(name="description", content="#{package.description}")
		meta(name="author", content="#{package.author}")
		
		meta(name="HandheldFriendly", content="True")
		meta(name="MobileOptimized", content="320")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		
		meta(http-equiv="cleartype", content="on")

		link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/#{server.static.destination}/#{application.favicons.directory}/#{application.favicons.touch}/apple-touch-icon-144x144-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/#{server.static.destination}/#{application.favicons.directory}/#{application.favicons.touch}/apple-touch-icon-114x114-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/#{server.static.destination}/#{application.favicons.directory}/#{application.favicons.touch}/apple-touch-icon-72x72-precomposed.png")
		link(rel="apple-touch-icon-precomposed", href="/#{server.static.destination}/#{application.favicons.directory}/#{application.favicons.touch}/apple-touch-icon-57x57-precomposed.png")
		link(rel="shortcut icon", href="/#{server.static.destination}/#{application.favicons.directory}/#{application.favicons.touch}/apple-touch-icon.png")

		meta(name="msapplication-TileImage", content="/#{server.static.destination}/#{application.favicons.directory}/#{application.favicons.touch}/apple-touch-icon-144x144-precomposed.png")
		meta(name="msapplication-TileColor", content="#222222")

		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="apple-mobile-web-app-title", content="#{package.name}")

		link(rel="stylesheet", href="/#{server.static.destination}/css/styles.min.css")
	body(data-csrf-token="", data-startup, data-startup-src="/#{server.static.destination}/#{application.favicons.directory}/#{application.favicons.startup}/", data-analitycs-id="#{application.analytics.id}", data-analitycs-domain="#{application.analytics.domain}", data-canvas-navigation)

		block container

		script(src="#{server.static.destination}/js/vendor/highlight/highlight.js")
		script(src="#{server.static.destination}/js/vendor/angular/angular.js")
		script(src="#{server.static.destination}/js/vendor/angular-route/angular-route.js")
		script(src="#{server.static.destination}/js/vendor/angular-animate/angular-animate.js")
		script(src="#{server.static.destination}/js/vendor/drawerjs/drawer.js")
		script(src="#{server.static.destination}/js/application.js")
		script(src="#{server.static.destination}/js/directives/navigation.js")
		script(src="#{server.static.destination}/js/directives/code.highlight.js")
		script(src="#{server.static.destination}/js/controllers/route.js")